:root {
    --background-color: #23242a;
    --large-item-color: #0c0c0c;
    --small-item-color: #1b1c1e;
    --transition-color: #8f8f8f;
    --highlights-color: #45f3ff;
    --font-color: #f5e1e1;
}